{% extends 'rango/base.html' %}
<!-- 用到静态文件的每个模板都要在文件顶部添加{% load staticfiles %}。
  否则会导致错误！-->
{% load staticfiles %}

{% block title_block %}
   分类：{{ category.name }}
{% endblock %}

{% block body_block %}
    {% if pages %}
    <ul>
    {% for page in pages %}
    <li>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
    </ul>
    {% else %}
         <strong>当前分类下没有页面</strong>
    {% endif %}

    <div>
    <strong id="like_count">{{category.likes}}</strong>人喜欢这个分类
    {% if  user.is_authenticated %}
        <button id="likes" data-catid="{{category.id}}" class="btn btn-primary btn-sm"  type="button">
        喜欢
        </button>
        <br>
        <a href="{% url "rango:add_page"  category.slug%}">添加页面</a>
    {% endif %}
    </div>


{% endblock %}
